.git
.gitignore
.github
.vscode
.idea
*.md
!README.md

node_modules/
npm-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local
*.log

bin/
dist/
build/
out/
target/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.terraform
*.tfstate
*.tfstate.*

coverage.out
cover.out
*.coverprofile

*.swp
*.swo
*~
.DS_Store
Thumbs.db
